video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rbga(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container > div > h1 {
  color: #fff;
  font-size: 75px;
  /* margin-top: -100px; */
  text-align: center;
  line-height: 90px;
}

.hero-container > div > h1 > span {
  color: rgb(4, 161, 185);
  display: inline-block;
}

.h1EndText {
  background: linear-gradient(to left, #fffb17b9, #f7fda7d7 100%);
  background-position: 0 95%;
  background-size: 100% 20px;
  background-repeat: repeat-x;
  transform: skew(352deg);
}

.hero-container > div > p {
  margin-top: 30px;
  color: #fff;
  font-size: 32px;
  font-size: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.h1EndText {
  position: relative;
}

.hero-btns {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .hero-container > div > h1 {
    font-size: 35px;
    line-height: 35px;
  }

  .hero-container > div > p {
    font-size: 20px;
    margin: 40px 10px;
  }

  .h1EndText {
    background-size: 100% 5px;
  }
}
