.careerChangeSelectorForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 75px;
}
.career-selector-form {
  display: flex;
  flex-direction: column;
}
.career-selector {
  margin: 25px 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.currentCareer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.desiredCareer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.currentCareer > input {
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 2px;
  padding: 8px 20px;
  border: 1px solid black;
  transition: all 0.3s ease-out;
  line-height: 25px;
  margin-top: 10px;
}

.desiredCareer > input {
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 2px;
  padding: 8px 20px;
  border: 1px solid black;
  transition: all 0.3s ease-out;
  line-height: 25px;
  margin-top: 10px;
}

.selector-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin: 25px 0;
}

@media screen and (max-width: 425px) {
  .careerChangeSelectorForm-container {
    margin: 0px;
  }
  .career-selector {
    font-size: 15px;
  }
}
